* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-header {
    background-color: rgb(23, 22, 22);
    color: azure;
    text-align: center;
    padding: 2em;
}

#container-footer {
    background-color: rgb(23, 22, 22);
    color: azure;
    display: flex;
    justify-content: space-between;
}

#gallery {
    text-align: center;
}

#container-gallery {
    display: flex;
}

.card {
    box-shadow: 3px 3px 16px black;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 15px;
}

#bg-image1 {
    background-image: url('../assets/1.png');
}